<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Manifesto Example App</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/extensions/dist/extensions.js"></script>
    <script type="text/javascript" src="/lib/manifesto/dist/client/manifesto.js"></script>
</head>
<body>

{{{body}}}

<script>
    $(function() {
       //$('h1').append(", " + manifesto.sayHello("from client"));
    });
</script>

</body>
</html>